#main{
    background-color: #EEEEEE;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1#title{
    text-align: center;
    padding-top: 30px;
    font-size: 32pt;
}
p#titlep{
    text-align: center;
    color: #5B5B5B;
    font-size: 15pt;
}
div#img-div{
    background-color: white;
    margin: 10px;
}
ul{
  list-style-position: inside;  
  font-size: 15pt;
  color: #5B5B5B;
  display: flex;
  flex-direction: column;
  width: 690px;
}
#tribute-info{
    display: flex;
    text-align: start;
    justify-content: center;
}
li{
    margin-top: 30px;
}
#borl{
    margin-top: 40px;
}
b{
    color: rgb(63, 63, 63);
}
#footer{
    font-size: 18pt;
    font-weight: bold;
}
#tribute-link{
    color: #74638F;
}
#image{
    max-width: 1024px;
    width: 100%;
    height: auto;
}
